@media (min-width: 992px)
{
    footer
    {
        width: 100%;
        height: 170px;

        border-radius: 10px;

        background-color:  rgb(119, 135, 153);
        
        position: relative;

        margin-top: 50px;

        bottom: 7px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
 
    }

    footer > p
    {
        font-size: 25px;
        letter-spacing:normal;
        color: rgb(255, 255, 255);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
    }

    .Form
    {
        background-color: rgb(255, 255, 255);

        height: 700px; 
        width: 700px; 
        
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Form > Block:first-child
    {   
        width: 600px;

        margin-top: -60px;
        margin-left: -60px;

        display: flex;
        /*justify-content: start;*/
    }

}

@media (min-width: 768px) and (max-width: 991px)
{
    footer
    {
        height: 170px;

        border-radius: 10px;

        background-color:  rgb(119, 135, 153);
        
        position: relative;

        margin-top: 50px;

        left: 7px;
        bottom: 7px;
        right: 7px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
 
    }

    footer > p
    {
        font-size: 25px;
        letter-spacing:normal;
        color: rgb(255, 255, 255);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
    }

    .Form
    {
        background-color: rgb(255, 255, 255);

        height: 700px; 
        width: 700px; 
        
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Form > Block:first-child
    {   
        width: 600px;

        margin-top: -60px;
        margin-left: -60px;

        display: flex;
        /*justify-content: start;*/
    }
}

/*tablet and phone*/
@media (max-width: 767px)
{
   
    footer
    {

        height: fit-content;
        padding: 10px;

        border-radius: 10px;

        background-color:  rgb(119, 135, 153);
        
        position: relative;
        bottom: 7px;

        margin-top: 100px;

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
 
    }

    footer > p
    {
        font-size: 25px;
        letter-spacing:normal;
        color: rgb(255, 255, 255);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
    }

    .Form
    {
        background-color: rgb(255, 255, 255);

        height: 700px; 
        width: 550px; 
        
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Form > Block:first-child
    {   
        width: 600px;

        margin-top: -60px;
        margin-left: 90px;

        display: flex;
        /*justify-content: start;*/
    }

}

.RootBackground
{
    background-size: cover; 
    background-color: rgb(238, 237, 252);

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Bar
{
    width:100%;
    height: 60px;

    border-radius: 10px;

    background-color:  rgb(119, 135, 153);

    display: flex;
    align-items: center;
   
}

titlle
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: rgb(255, 255, 255);

    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 500;

    margin-left: 30px;

}

Bar > p
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: rgb(255, 255, 255);

    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 600;

    margin-bottom: 55px;

}

.Form > Block:first-child > .GoBack
{
    width: 160px;
    height: 40px;

    border: none;

    color: rgb(156, 176, 199);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.Form > Block:first-child > .GoBack:hover
{
    background-color: rgb(119, 135, 153);
    color: rgb(255, 255, 255);
}

.Form > Block:first-child > div
{
    background-color:rgb(255, 219, 219);

    width: 250px;
    height: 40px;

    margin-top: 80px;
    margin-left: 35px;
    
    border: solid;
    border-color: rgb(228, 189, 189);
    border-width: 1px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 174, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

.Form > ttitle
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color:rgb(156, 176, 199);

    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 600;

    margin-top: 3%;
}

.Form > Block:nth-child(3)
{   
    margin-top: 5%;
}

.Form > Block:nth-child(4)
{   
    margin-top: 10%;
}

.Form > Block:nth-child(5)
{   
    margin-top: 10%;
}

Block
{
    display: flex;
    flex-direction: row;

    gap:5px
}


Block > block
{
    width: 250px;
    height: 60px;

    border: solid;
    border-color: rgb(238, 237, 252);

    background-color: rgb(238, 237, 252);

    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

label
{
    color: rgb(156, 176, 199);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
}

.NameInput
{
    width: 99%;
    height: 30px;

    outline: none;
    border: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.SurnameInput
{
    width: 99%;
    height: 30px;

    outline: none;
    border: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.UsernameInput
{
    width: 99%;
    height: 30px;

    outline: none;
    border: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.PasswordInput
{
    width: 99%;
    height: 30px;

    outline:none;
    border: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
 
}

.EmailInput
{
    width: 99%;
    height: 30px;

    outline: none;
    border: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;

}

button
{
    margin-top: 80px;
    width: 150px;
    height: 40px;

    border: none;

    color: rgb(156, 176, 199);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

button:hover
{
    background-color: rgb(119, 135, 153);
    color: rgb(255, 255, 255);
}

